<header class="text-gray-600 body-font navbar">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
  >
    <span class="text-xl rounded-lg" routerLink="/dashboard"><a href="#"><img class="rounded-lg" width="40px" src="assets/e-zone.png"/></a></span>
    <nav
      class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center"
    >
      <a class="mr-5" routerLink="/add_product">Add product</a>
      <a class="mr-5" routerLink="/view_product">View Product</a>
      <a class="mr-5" routerLink="/help_center">Help center</a>
    </nav>
    <button class="inline-flex items-center" routerLink="/sign_in">
      Sign in
      <svg
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-4 h-4 ml-1"
        viewBox="0 0 24 24"
      >
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</header>
