<!-- <div>
  <div>
    <span>Sign in your account</span>
    <span>Don't have an account <a href="/sign_up">Sign up</a></span>
  </div>
  <form class="w-full max-w-lg" [formGroup]="signInForm">
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-password"
        >
          Email
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-password"
          type="email"
          name="email"
          placeholder="Enter your email"
          formControlName="email"
        />
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="grid-password"
        >
          Password
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-password"
          type="password"
          name="password"
          placeholder="******************"
          formControlName="password"
        />
      </div>
    </div>
    <div>
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="button"
        (click)="onUserSignIn()"
      >
        Sign In
      </button>
    </div>
  </form>
</div> -->
<section class="mt-5 mb-10">
  <div class="container ">
    <div class="signup_container">
      <h2>Welcome back</h2>
      <h4>Create your account it's totally free</h4>
      <button>Sign Up</button>
    </div>
    <div class="login_container border border-red-800">
      <label>Username</label>
      <input type="text" />
      <label>Password</label>
      <input type="text" />
    </div>
  </div>
</section>
